.primary-header {
  i {
    padding: 8px 0 8px 2px;
  }

  h2 {
    text-align: center;
  }
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
}

mat-card {
  margin: 2%;
  width: 46%;
  mat-card-content {
    text-align: center;
  }
}
